/* The @import rule below imports the Playfair Display and Source Sans Pro fonts into the stylesheet*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro:wght@400&display=swap");

body {
  background-color: #eae2b7;
  color: #003049;
  font-family: "Source Sans Pro", Tahoma, Geneva, Verdana, sans-serif;
  padding: 40px;
}

/* Headings */
h1,
h2,
h3 {
  font-family: "Playfair Display", Times, serif;
  text-align: center;
}

/* Header */
header {
 
 
  padding: 20px 0; /* Add padding as needed */
}

.header-content {
  display: flex; /* Use flexbox for layout */
  justify-content: space-between; /* Space items horizontally */
  align-items: center; /* Vertically center items */
  max-width: 1200px; /* Adjust as needed */
  margin: 0 auto; /* Center the header content */
  padding: 0 20px; /* Add padding as needed */
}

.logo {
  margin: 0; /* Remove default margin */
}


/* New CSS for the About section */
#about {
  text-align: left; /* Center align the content within the About section */
}

.about-content {
  display: flex; /* Use flexbox for layout */
  align-items: left; /* Vertically left: ; items */
  justify-content:flex-start; /* Horizontally left items */
  margin-bottom: 20px; /* Add some space between image and text */
}

.about-image {
  margin-right: 20px; /* Add some space between image and text */
}

.about-text {
  text-align: left; /* Left align text */
}

.about-text h3 {
  margin-top: 0; /* Remove default margin */
}

/* Additional styling for Pete's Background section */
#about section {
  margin-top: 20px; /* Add some space between About and Pete's Background sections */
}

/* New CSS for the Portfolio section */
#portfolio {
  text-align: center; /* Center align the content within the Portfolio section */
}

.portfolio-gallery {
  display: flex; /* Use flexbox for layout */
  justify-content: center; /* Center align items horizontally */
  gap: 40px; /* Add spacing between projects */
  margin-top: 20px; /* Add some space between Portfolio heading and projects */
}

.project {
  text-align: center; /* Left align text within project */
}

.project img {
  max-width: 100%; /* Ensure images don't exceed container width */
}

.project-description {
  font-size: 14px; /* Set font size for project descriptions */
}

/* Containers */
div {
  background-color: #eae2b7;
  margin: auto;
  width: 600px;
}

article {
  padding: 50px 0;
}

article div {
  text-align: center;
  width: 100%;
}

/* Paragraphs */
p {
  line-height: 1.5;
}

/* Links */
a:link {
  color: #d62828;
}

a:hover {
  color: #f77f00;
}

nav a {
  padding-left: 20px;
}

/* Images */
img {
  width: 100%;
  max-width: 200px;
  height: auto;
}

.image-circle {
  border: 2px solid #003049;
  border-radius: 50%;
}

/* Footer */
footer {
  text-align: center;
}

/* Other page elements */
hr {
  border: 1px solid black;
}
